<router-outlet></router-outlet>
<!-- <div class="counter-container">
  <h2>NgRx Counter</h2>

  <h3>Current Count: {{ count }}</h3>

  <div class="buttons">
    <button
      class="bg-blue-500 m-2 p-2 text-white cursor-pointer"
      (click)="increment()"
    >
      Increment
    </button>
    <button
      class="bg-blue-500 m-2 p-2 text-white cursor-pointer"
      (click)="decrement()"
    >
      Decrement
    </button>
    <button
      class="bg-blue-500 m-2 p-2 text-white cursor-pointer"
      (click)="reset()"
    >
      Reset
    </button>
  </div>
</div> -->

<app-toast></app-toast>
