<div class="flex-1 overflow-auto">
  <div class="p-6">
    <div class="flex justify-between items-center mb-6">
      <h1 class="text-2xl font-bold">Invoices</h1>
      <div class="flex items-center">
        <button
          routerLink="/create-invoice"
          class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md flex items-center"
        >
          <svg
            class="w-5 h-5 mr-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6v6m0 0v6m0-6h6m-6 0H6"
            ></path>
          </svg>
          New Invoice
        </button>
      </div>
    </div>

    <div class="bg-white rounded-lg shadow overflow-auto">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Client Details
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Client
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Amount
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Date
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Status
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Actions
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let invoice of invoices">
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-900">{{ invoice.clientEmail }}</div>
              <div class="text-sm text-gray-500">
                {{ invoice.clientAddress }}
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-900">{{ invoice.clientName }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-900">
                {{ invoice.total.toFixed(2) | currency : "INR" }}
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-900">
                {{ invoice.invoiceDate | date : "MMM d" }}
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <span
                class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full"
                [ngClass]="{
                  'bg-green-100 text-green-800': invoice.status === 'Paid',
                  'bg-yellow-100 text-yellow-800': invoice.status === 'Unpaid'
                }"
              >
                {{ invoice.status }}
              </span>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              <button
                class="text-blue-600 hover:text-blue-900 mr-3 cursor-pointer"
                (click)="onView(invoice._id)"
              >
                View
              </button>
              <button
                class="text-indigo-600 hover:text-indigo-900 mr-3 cursor-pointer"
                (click)="onEditInvoice(invoice)"
              >
                Edit
              </button>
              <button
                class="text-red-600 hover:text-red-900 cursor-pointer"
                (click)="confirmDeleteInvoice(invoice)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <app-pagination
        [currentPage]="currentPage"
        [page]="pages"
        (pageChanged)="onpageChange($event)"
      />
    </div>
  </div>
</div>
<app-edit-invoice
  *ngIf="showEditInvoiceModal"
  [invoice]="currentInvoice"
  (close)="closeAddInvoiceModal()"
  (save)="saveInvoice($event)"
></app-edit-invoice>

<app-confirmation-dialog
  *ngIf="showDeleteConfirmation"
  title="Delete Invoice"
  message="Are you sure you want to delete this invoice? You will not able to recover this."
  (confirm)="deleteInvoice()"
  (cancel)="cancelDeleteInvoice()"
></app-confirmation-dialog>
