<div class="flex-1 overflow-auto">
  <div class="p-6">
    <div class="flex justify-between items-center mb-6">
      <h1 class="text-2xl font-bold">Expenses</h1>
      <div class="flex items-center">
        <button
          (click)="openAddExpenseModal()"
          class="bg-blue-500 hover:bg-blue-600 text-white text-sm font-semibold cursor-pointer px-4 py-2 rounded-md flex items-center"
        >
          <svg
            class="w-5 h-5 mr-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6v6m0 0v6m0-6h6m-6 0H6"
            ></path>
          </svg>
          Add Expense
        </button>
      </div>
    </div>
    <div class="flex flex-wrap gap-4 text-sm items-center mb-6">
      <div class="mr-4">
        <label for="category" class="text-gray-700">Category</label>
        <select
          id="category"
          [(ngModel)]="filters.category"
          class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
        >
          <option value="">All Categories</option>
          <option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </option>
        </select>
      </div>

      <div class="mr-4">
        <label for="minPrice" class="text-sm text-gray-700">Min Price</label>
        <input
          type="number"
          id="minPrice"
          [(ngModel)]="filters.minPrice"
          class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Min Price"
        />
      </div>

      <div class="mr-4">
        <label for="month" class="text-sm text-gray-700">Month</label>
        <input
          type="month"
          id="month"
          [(ngModel)]="filters.monthYear"
          class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
        />
      </div>
      <button
        class="bg-blue-500 p-2 rounded shadow cursor-pointer text-white self-end font-semibold hover:bg-blue-600"
        (click)="applyFilters()"
      >
        Apply Filter
      </button>
    </div>

    <div class="bg-white rounded-lg shadow overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Title
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Category
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Amount
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Date
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Actions
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let expense of expenses">
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-900">{{ expense.title }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-900">{{ expense.category }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-900">
                {{ expense.amount.toFixed(2) | currency : "INR" }}
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-900">
                {{ expense.date | date : "MMM d YYYY" }}
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              <button
                class="text-indigo-600 hover:text-indigo-900 mr-3"
                (click)="onEditExpense(expense)"
              >
                Edit
              </button>
              <button
                class="text-red-600 hover:text-red-900"
                (click)="confirmDeleteInvoice(expense)"
              >
                Delete
              </button>
            </td>
          </tr>
          <tr *ngIf="expenses.length == 0">
            <td colspan="6" class="px-6 py-4 text-center text-gray-500">
              No expense found. Click "Add Expense" to create one.
            </td>
          </tr>
        </tbody>
      </table>
      <app-pagination
        [currentPage]="filters.page"
        [page]="pages"
        (pageChanged)="onpageChange($event)"
      />
    </div>
  </div>
</div>
<app-confirmation-dialog
  *ngIf="showDeleteConfirmation"
  title="Delete Invoice"
  message="Are you sure you want to delete this expense? You will not able to recover this."
  (confirm)="deleteExpense()"
  (cancel)="cancelDeleteExpense()"
></app-confirmation-dialog>
<app-edit-expense
  *ngIf="showEditExpenseModal"
  (close)="closeEditExpenseModal()"
  [expense]="currentExpense"
/>
<app-add-expense
  *ngIf="showAddExpenseModal"
  (close)="closeAddExpenseModal()"
  (save)="saveExpense()"
></app-add-expense>
