<div
  class="fixed top-0 left-0 bg-[#2a3158] text-white w-64 min-h-screen flex flex-col justify-between z-50"
>
  <div>
    <div class="flex justify-between">
      <div class="text-shadow-lg text-center font-bold p-4">
        <h4>Invoice Generator &</h4>
        <h4>Expense Tracter</h4>
      </div>
      <button (click)="onClose()" class="cursor-pointer self-start md:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 m-2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18 18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
    <nav class="mt-8">
      <ul>
        <li
          *ngFor="let item of navItems"
          class="px-4 py-3 flex items-center cursor-pointer hover:bg-[#3a4169] transition-colors"
          [class.bg-[#3a4169]]="isActive(item.route)"
          [ngClass]="{ relative: item.label == 'Export' }"
          (click)="onNavItemClick(item, $event)"
        >
          <i class="mr-3 text-white" [ngClass]="item.icon"></i>
          <span>{{ item.label }}</span>
          @if(item.label=='Export'){
          <i
            class="ml-auto fa-solid"
            [ngClass]="{
              'fa-chevron-down': !showExportMenu,
              'fa-chevron-up': showExportMenu
            }"
          ></i>
          }
          <div
            *ngIf="item.label === 'Export' && showExportMenu"
            class="absolute top-full left-0 right-0 mt-1 bg-[#3a4169] rounded-md shadow-lg z-10 overflow-hidden"
          >
            <div
              class="px-4 py-3 hover:bg-[#4a527a] cursor-pointer transition-colors"
              (click)="onExportInvoiceToExcel()"
            >
              Export Invoice
            </div>
            <div
              class="px-4 py-3 hover:bg-[#4a527a] cursor-pointer transition-colors"
              (click)="onExportExpenseToExcel()"
            >
              Export Expense
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>

  <div class="p-4 mt-auto">
    <div class="relative">
      <div
        class="px-4 py-3 flex items-center cursor-pointer hover:bg-[#3a4169] transition-colors"
        (click)="onClickSettings($event)"
      >
        <i class="mr-3 fa-solid fa-gear"></i>
        <span>Settings</span>
        <i
          class="ml-auto fa-solid"
          [ngClass]="{
            'fa-chevron-down': !showAccountMenu,
            'fa-chevron-up': showAccountMenu
          }"
        ></i>
      </div>

      <div
        *ngIf="showAccountMenu"
        class="absolute bottom-full left-0 right-0 mb-1 bg-[#3a4169] rounded-md shadow-lg z-10 overflow-hidden"
      >
        <div
          class="px-4 py-3 hover:bg-[#4a527a] cursor-pointer transition-colors"
          routerLink="/profile"
        >
          <i class="mr-3 fa-solid fa-user"></i>
          <span>Account</span>
        </div>
        <div
          class="px-4 py-3 hover:bg-[#4a527a] cursor-pointer transition-colors"
          (click)="logout()"
        >
          <i class="mr-3 fa-solid fa-arrow-right-from-bracket"></i>
          <span>Logout</span>
        </div>
      </div>
    </div>
  </div>
</div>
